:host {
  background-color: transparent;
}

.slide__content {
  padding: 0;
}

.slide {
  background: none;
}

img {
  width: var(--slide-width);
  aspect-ratio: var(--slide-ratio);
  object-fit: cover;
}

:host([data-contain]) img {
  object-fit: contain;
  background-color: var(--slide-bgc);
}