/** Host **/
:host {
  display: flow-root;
  position: relative;
  width: var(--column-width);
  aspect-ratio: var(--slide-ratio);
  break-inside: avoid;
  pointer-events: none;
  user-select: none;
  touch-action: none;
}

/** HOST FULL SCREEN **/
/** hide all slide, aside from current, previous and next **/
:host-context(.fullscreen) {
  display: none;
}

/** Visualy hide previous and next slide, if they are not current in the same time **/
:host-context(.fullscreen):host(.prev:not(.current)),
:host-context(.fullscreen):host(.next:not(.current)) {
  display: flow-root;
  visibility: hidden;
}

:host-context(.fullscreen):host(.current) {
  display: flow-root;
}

:host-context(.fullscreen) .slide__select,
:host-context(.fullscreen):host(.current) .slide__select {
  outline: none;
}

/** SLIDE **/
.slide {
  position: absolute;
  background-color: var(--slide-bgc);
  aspect-ratio: var(--slide-ratio);
  width: var(--slide-width);
  height: var(--slide-height);
  transform-origin: 0 0;
  transform: scale(var(--list-scale));
  contain: style layout size;

  display: flex;
  gap: 0;
  column-gap: 0;
  row-gap: 0;
  align-content: center;
  justify-content: center;
  align-items: center;
}

/** Show page number **/
.slide::before {
  counter-reset: slide-number var(--slide-number);
  content: counter(slide-number);
  position: absolute;
  display: block;
  bottom: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  color: #000;
  text-align: center;
  font-size: 14px;
  border-radius: 100%;
  background-color: #fff;
  pointer-events: none;
  z-index: 1;
}

/** SLIDE FULL SCREEN **/
:host-context(.fullscreen) .slide {
  position: fixed;
  top: 50%;
  left: 50%;
  transform-origin: 50% 50%;
  transform: translateX(-50%) translateY(-50%) scale(var(--slide-scale));
  contain: paint style layout size;
}

.slide__content {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 0;
  padding: 0;
}

:host([data-wide]) .slide__content {
  width: var(--slide-width);
  height: var(--slide-height);
}

:host([data-narrow]) .slide__content {
  width: min-content;
}

.slide__delimiter {
  max-width: var(--slide-width);
  max-height: var(--slide-height);
  overflow: hidden;
  overflow: clip;
}

.slide__caption {

}

.slide__select {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-style: none;
  aspect-ratio: var(--slide-ratio);
  pointer-events: all;
  z-index: 4;
  background: none;
  color: #0000;
}

/** SLIDE FULL SCREEN **/
:host-context(.fullscreen) .slide__select {
  position: fixed;
  bottom: 0;
  right: 0;
}

@media not print {
  .slide__select:focus,
  .slide__select:hover {
    outline: var(--slide-outline-width) solid var(--slide-outline-color-fucus);
  }

  :host(.current) .slide__select:focus,
  :host(.current) .slide__select {
    outline: var(--slide-outline-width) solid var(--slide-outline-color-current);
  }
}

/** NO HOST-CONTEXT SUPPORT **/
@supports not selector(:host-context(*)) {
  :host(.fullscreen) .slide {
    position: fixed;
    top: 50%;
    left: 50%;
    transform-origin: 50% 50%;
    transform: translateX(-50%) translateY(-50%) scale(var(--slide-scale));
    contain: paint style layout size;
  }

  :host(.fullscreen) .slide__select {
    position: fixed;
    bottom: 0;
    right: 0;
  }

  :host(.prev.fullscreen:not(.current)),
  :host(.next.fullscreen:not(.current)) {
    display: flow-root;
    visibility: hidden;
  }
  
  :host(.fullscreen.current) {
    display: flow-root;
  }
  
  :host(.fullscreen.current) .slide__select:focus,
  :host(.fullscreen.current) .slide__select:hover,
  :host(.fullscreen.current) .slide__select {
    outline: none;
  }
}