
.demo-7[data-click] input,
.demo-7[data-click] label {
  pointer-events: all;
}

.demo-7 .zoom {
  transform: scale(4);
}

.demo-7-styled input{
  --s:20px;
  height:var(--s);
  width:auto;
  aspect-ratio:2/1;
  padding:calc(var(--s)/5);
  border-radius:var(--s);
  background:
    radial-gradient(farthest-side,rgb(25, 118, 210) 85%,rgb(25, 118, 210) 100%, rgba(25, 118, 210, 0) ,rgba(25, 118, 210, 0)) left/var(--s) 100% no-repeat,
    linear-gradient(90deg,rgba(25, 118, 210, .5) 50%,#939393 0) right/200% 100% content-box;
  transition: background-position 0.25s;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  cursor:pointer;
  vertical-align: middle;
  position: relative;
  top: -.1rem;
}

.demo-7-styled input:checked {
  background-position:right,left;
}

.demo-1 {
  font-size: 3rem;
}

.demo-1 button{
  pointer-events: all;
  font-size: 2rem;
  display: block;
  margin: 1rem auto 0;
}

.demo-2 {
  font-size: 3rem;
  background: url('../images/xtree.jpeg') no-repeat;
  background-size: cover;
  height: var(--slide-height);
  width: var(--slide-width);
  overflow: hidden;
}

.demo-2 button {
  pointer-events: all;
  font-size: 2rem;
  display: block;
  margin: 1rem auto 0;
  border-style: none;
  background: #fff;
  border-radius: 100%;
  width: max-content;
  aspect-ratio: 1;
  padding: 1rem;
  position: relative;
  filter: drop-shadow(.1rem .1rem 0 #aaa4);
  text-shadow: 0 1px 0 #381c1499;
  color: #ea382d;
}

.demo-2 button::before {
  content: "";
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  height: 0;
  width: 0;
  overflow: hidden;
  border-width: 1rem 1rem 0 0;
  border-style: solid;
  border-color: #fff transparent transparent;
  transform: skewX(-10deg) translateX(-1rem) translateY(-.2rem);
}

.demo-2 dialog {
  border-radius: 1rem;
  border-style: none;
  background: url(../images/xsnow.png) no-repeat;
  background-size: cover;
  backdrop-filter: blur(1rem);
  box-shadow: inset 0 0 5rem 1rem #fff;
  font-weight: bold;
  text-shadow: 0 1px 0 #381c1499;
  color: #ea382d;
}

.demo-2 dialog::backdrop {
  background-color: #4008;
  mix-blend-mode: multiply;
}

.demo-3 p{
  font-size: 38px;
  font-family: "Fira Code";
  line-height: 1.6;
  padding-left: 8rem;
}

.demo-3 del {
  background-color: #c002;
}

.demo-3 ins {
  background-color: #cc04;
  text-decoration: none;
}

.demo-3.current ins {
  animation: blink infinite .5s linear;
}


@keyframes blink {
  from {
    background-color: #cc06;
  }
  50% {
    background-color: #cc00;
  }
  to {
    background-color: #cc06;
  }
}

.demo-4 {
  font-size: 2rem;
}

.demo-4 sup {
  vertical-align: super;
  font-size: smaller;
}

.demo-4 table th {
  font-size: 1em;
  font-weight: bold;
  padding: 3rem 1rem 1rem;
  border-bottom: 1px solid #000;
}

.demo-4 tr:first-of-type th {
  padding-top: 0;
}

.demo-4 table td {
  padding: .5rem 1rem;
  font-size: 1em;
}

.demo-4 h2 {
  font-size: 1em;
  font-weight: bold;
  padding: 3rem 1rem 1rem;
  border-bottom: 1px solid #000;
}

.demo-4.current table {
  animation: blink infinite .5s linear;
}

.demo-4 table {
  background-color: #cc06;
}

.demo-4-2 table {
  background-color: unset;
}

.demo-4.demo-4-2.current table {
  animation: unset;
}

.demo-5 .zoom{
  transform: scale(3);
  padding: 1rem;
  background-color: #cc06;
  width: fit-content;
  height: fit-content;
}

.demo-5.current .zoom {
  animation: blink infinite .5s linear;
}

.demo-6[data-click] select{
  font-size: 3rem;
  pointer-events: all;
}
