html {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

ul {
  font-size: 3rem;
  line-height: 1.44;
  list-style: outside disc;
  padding: 0 0 0 2rem;
  margin: 1rem 0;
}

// h1, h2, h3, h4, h5 {
//   width: fit-content;
//   background-color: #ff0;
//   filter: drop-shadow(-1rem 0 0 #ff0) drop-shadow(1rem 0 0 #ff0);
// }

// h1 {
//   font-size: 6rem;
// }

// h2 {
//   font-size: 5rem;
// }

// h3 {
//   font-size: 4rem;
// }

// h4 {
//   font-size: 3rem;
// }

// h5 {
//   font-size: 2rem;
// }